.button {
    background-color: #000066;
    border: none;
    color: #e6e6e6;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body {
  background-image: url("file:///C:/Users/Bogdan/Documents/Designs/Desen%20Apus.png");
}
h1 {
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  padding: inherit;
}
#fq {
  color:white;
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;


}
h3 {
  color: #B0171F;
  font-size: 20px;
  font-weight: bold;
}
#plong {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}
